body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: rgb(225, 184, 238); 
	font-size: 1em;
	line-height: 1.5em;
	padding-top: 72px;
}
h1 {
	font-size: 10em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
    font-weight: 300;
    font-family:"sans-serif";
}
h2{
	text-align:"center";
	color: rgb(0, 14, 139);
	margin-left: 45px;
}
h3{
	vertical-align: middle;
	text-align: left;
	margin-top: 20%;
	margin-left: 28%;
}
img{
	max-width: 95%;
	height: auto;
}
td{
	vertical-align: top;
	color:black;
}
li{
	color: rgb(2, 2, 107);
	font-size: 19px;
}

#main-header {
	background:rgb(129, 2, 167);
	color: white;
	height: 80px;
	
	width: 100%; 
	left: 0;
	top: 0; 
	position: fixed; 
}
	#main-header a {
		color: white;
	}


#logo-header {
	float: center;
	padding: 10px;
	text-decoration: red;
}
	#logo-header:hover {
		color: rgb(0, 40, 126);
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 2em;
		font-family: cursive;
	}
	

nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	nav ul li {
	display: inline-block;
	line-height: 80px;
	}
			
	nav ul li a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
	}
			
	nav ul li a:hover {
	background: #00356E;
            }
	
	#main-content {
        background: rgba(0, 225, 255, 0);
        width: 90%;
        max-width: 90%;
        margin: 5px auto;
			}
				    
    #main-content header,
        #main-content .content {
        padding: 10px;
            }
		
	#main-footer {
        background: rgb(48, 1, 75);
        color: white;
        text-align: center;
        padding: 2px;
        margin-top: 1px;
            }
	
	#main-footer p {
        margin: 0;
            }
                        
    #main-footer a {
        color: white;
			}
		
		table a {
            color: rgb(0, 0, 0);
            }